{% extends "base.html" %}
{% block title %}About project{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">About project</div>
      <div class="card-body">
        <p>Blogicum is an application for sharing publications or posts about anything.</p>
        <p>
          Friendship and stories about new, unexplored experiences -
          that's what you'll find here.
          Blogs on various topics: travel, politics, entertainment, fashion, literature, design,
          and all other spheres of human activity
        </p>
      </div>
    </div>
  </div>
{% endblock %}
