{% extends "base.html" %}
{% block title %}Our rules{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">Our rules</div>
      <div class="card-body">
        <p>
          <b>Self-expression.</b> Our users should have the opportunity to create something of their own,
          express themselves, their thoughts, and feelings.
        </p>
        <p>
          <b>Diversity.</b> We respect and welcome different opinions and cultures.
          Blogicum is a place that brings together people from various backgrounds.
          Share your unique perspective on the world.
        </p>
        <p>
          <b>Creativity.</b> It doesn't matter in which field you create -
          whether it's literature, design, programming, or anything else.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
