{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        An email with instructions successfully sent
      </div>
      <div class="card-body">
        <p class="text-center">
          Instuctions on password reset were sent to your email address 
          (if your email exists in our database).
        </p>
        <p class="text-center">
          If you have not received the email, please check 
          the email address and the spam folder of your mail.
        </p>
        <p class="text-center"><a href="{% url 'blog:index' %}">Return to home page</a></p>
      </div>
    </div>
  </div>
{% endblock %}